*{
    margin: 0;
    padding: 0;
}

body{
    background-color: gray;
}
.gridcontainer{
    display: grid;
    grid-template-columns: repeat(auto-fit, 300px);
    grid-template-rows: repeat(auto-fit, 1fr);
    gap: 60px;
    padding: 30px;
}

.cards{
    background-color: white;
    height: 250px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.button{
    width: 250px;
    height: 30px;
}
.buttonbar{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}